anyio
argon2-cffi
argon2-cffi-bindings
asttokens
async-lru
attrs
babel
beautifulsoup4
bleach
blinker==1.9.0
bottleneck
brotli
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cycler
dash==3.0.4
dash-bootstrap-components==2.0.2
debugpy
decorator
defusedxml
exceptiongroup
executing
fastjsonschema
Flask==3.0.3
fonttools
h11
httpcore
httpx
idna==3.10
importlib_metadata==8.7.0
ipykernel
ipython
ipywidgets
itsdangerous==2.2.0
jedi
Jinja2
joblib
json5
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
MarkupSafe
matplotlib==3.10.0
matplotlib-inline
mistune
narwhals==1.38.2
nbclient
nbconvert
nbformat
nest-asyncio
nltk
notebook
notebook_shim
numexpr
numpy
overrides
packaging
pandas
pandocfilters
parso
pillow
platformdirs
plotly==6.0.1
prometheus_client
prompt-toolkit
psutil
pure-eval
pycparser
Pygments
pyparsing
PyQt6==6.7.1
PyQt6_sip
PySocks
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
qtconsole
QtPy
referencing
regex
requests
retrying==1.3.4
rfc3339-validator
rfc3986-validator
rpds-py
scikit-learn
scipy
seaborn
Send2Trash
sip
six
sniffio
soupsieve
stack-data
terminado
threadpoolctl
tinycss2
tomli
tornado
tqdm
traitlets
typing_extensions
tzdata
unicodedata2
urllib3
wcwidth
webencodings==0.5.1
websocket-client
Werkzeug==3.0.6
widgetsnbextension
zipp==3.21.0
